[project]
name = "my_existing_project"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.10,<3.15"
dependencies = [
    "dagster",
]

[project.optional-dependencies]
dev = [
    "dagster-webserver",
    "pytest>8",
]

[build-system]
requires = ["hatchling>=1.19.0"]
build-backend = "hatchling.build"
