[project]
name = "my_existing_project"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.10,<3.15"
dependencies = [
    "dagster",
]

[project.optional-dependencies]
dev = [
    "dagster-webserver",
    "pytest>8",
]

[build-system]
requires = ["hatchling>=1.19.0"]
build-backend = "hatchling.build"

[tool.dg]
directory_type = "project"

[tool.dg.project]
root_module = "my_existing_project"
defs_module = "my_existing_project.defs"

[tool.dagster]
module_name = "my_existing_project.definitions"
code_location_name = "my_existing_project"
