.trace {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
  font-family: var(--font-mono);
  font-size: 13px;
  font-variant-ligatures: none;
  max-height: 90vh;
  overflow: auto;
  white-space: pre;
  padding: 16px;
}
